.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: #264653;
}

.about p {
  margin-bottom: 2em;
}

.about a {
  display: block;
  margin-top: 15px;
  padding: 10px 15px;
}
